/* Tiny reset thingy */
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* div {
  color: white;
} */

ul {
  padding: 0;
  list-style-type: none;
}

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  color: black;
}

.w100p {
  width: 100%;
}

.centerc {
  text-align: center;
}

.package {
  padding: 0px 30px;
}

.package h3 {
  font-size: 1.25rem;
}

.package .version {
  padding: 0px 6px 0px 0px;
}

.package .description {
  margin: 2px 0px;
}

.installCommand {
  border: 1px #cccccc solid;
  border-radius: 5px;
  padding: 10px 10px 10px 35px;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0px;
}

.packageInfo img {
  max-width: 100%;
}

.packageInfo .rightPanel {
  width: 33%;
  max-width: 450px;
  min-width: 330px;
  padding: 0px 20px;
}

.packageInfo .leftPanel {
  flex: 1;
  padding: 0px 20px;
}

.detail {
  padding: 10px;
}

.rightPanel .name {
  color: #777777;
}

.rightPanel .value {
  font-size: 1.25rem;
  font-weight: bold;
}

.leftPanel .packageName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 22px;
}

.leftPanel .details {
  font-size: 1.1rem;
  margin-left: 22px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 100%;
}

.leftPanel .details span {
  padding-right: 12px;
}

.split {
  border-color: rgba(0,0,0,.1);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.searchBox {
  padding: 13px 0px;
  margin-bottom: 12px;
}

.logo img {
  width: 180px;
}

.logo {
  margin-right: 10px;
}

.search {
  border: 1px solid #dedede;
  padding: 10px 10px;
  background: #f2f2f2;
  width: 60%;
}

.search input {
  background: none;
  border: none;
  outline: unset;
  width: 100%;
  height: 30px;
}

.searchBar {
  position: relative;
}

.searchBar .searchButton {
  height: 100%;
  width: 120px;
  height: 52px;
  background-color: #231f20;
  font-weight: bold;
  z-index: 1;
  outline-offset: 3px;
  letter-spacing: 0.3px;
  font-size: .875rem;
  color: #fff;
}

.button {
  background-color: #231f20;
  font-weight: bold;
  z-index: 1;
  outline-offset: 3px;
  letter-spacing: 0.3px;
  font-size: .875rem;
  color: #fff;
}

.searchBar .searchButton:hover, .shadow-hover {
  cursor: pointer;
}

header {
  box-shadow: 0 4px 13px -3px rgb(0 0 0 / 10%);
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 30px;
}

nav {
  padding: 10px 30px 12px;
}

nav a {
  padding: 15px 13px;

  color: #000;
  letter-spacing: 0.012em;
  font-weight: bold;
}

.downloadLink {
  padding: 10px 20px;
  margin: 0px 3px;
}

.downloadLink:hover {
  cursor: pointer;
}

.searchResults {
  display: none;
  position: absolute;
  width: 67%;
  border-color: grey;
  border: 3px;
  top: 55px;
  background-color: #fff;

  z-index: 10;

  box-shadow: 9px 10px 49px -8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 9px 10px 49px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 10px 49px -8px rgba(0,0,0,0.75);
}

.searchResults .searchResultRow {
  padding: 12px 15px;
  border-bottom: 1px solid #d2d2d2;
}

.searchResults .searchResultRow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1020px) 
{ 
  .searchBox {
    flex-direction: column;
    align-items: center;
  }

  .searchBox div {
    margin: 4px 0px;
  }

  .searchBar {
    width: 75%;
  }

  .searchBox .searchButton { 
    margin-top: 4px;
  }

  .search {
    width: 100%;
  }
}

@media only screen and (max-width: 730px) 
{ 
  .packageInfo {
    flex-direction: column;
    align-items: center;
  }

  .searchBar {
    width: 85%;
  }
  
  .leftPanel {
    width: 80%;
  }

  .rightPanel {
    margin-top: 40px;
  }

  .descriptionDetails {
    text-align: center;
  }
}

@media only screen and (max-width: 395px) 
{ 
  .packageInfo .rightPanel {
    min-width: 230px;
  }
}